<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="CadenaTracker" value="Server=localhost;User=$user;Password=$pwd;Charser=NONE;Database=C:\\MOVGANADO\\$tracker" />
    <add key="connMOVSIO" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\\MOVGANADO\\movsio.mdb;JET OLEDB:DATABASE PASSWORD = $pwd" />
    <add key="conncOSTOS" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\\SIO\\Costos\\Costos.accdb;JET OLEDB:DATABASE PASSWORD = $pwd" />
    <add key="conncARROS" value="C:\movganado\consumos\procesos\carros\Carros.EXE" />
    <add key="CadenaSIO" value="data source =  localhost\SIO; initial catalog = DBSIO; user id = $usr; password = $pas" />
    <add key="CadenaSIE" value="data source =  localhost\SIO; initial catalog = DBSIE; user id = $usr; password = $pas" />
    <add key="CadenaCosumo" value="data source =  localhost\SIO; initial catalog = DBALIMENTO; user id = $usr; password = $pas" />
    <add key="reporteruta" value="C:\\Movganado\\Consumos\\Reportes\\" />
    <add key="db" value="Server=200.188.0.232;Database=dbbascula;Uid=$user;Pwd=$pwd;" />
    <add key="url" value="http://107.190.129.10:8100/aia/Aia1?AppService=@erp" />
    <add key="ConsumoExe" value="C:\\MOVGANADO\\Alimentacion\\GTH_CONSUMOS\\Debug\\GTH_CONSUMOS.EXE" />
    <add key="multiestablo" value="1" />
    <add key="prorrateo" value="1" />
    <add key="Reportes_Alim" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.ProcessingObjectModel" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.2.0.0" newVersion="15.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>